## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Display Algorithm

In [192]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Testing Area

In [194]:
recordPointer = 10

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355

In [147]:
# function for generating row division
def genRowDivider():
    rowDiv = ("\n+" + "-"*(name_width + 2) + 
              "+" + "-"*(location_width + 2) + 
              "+" + "-"*(lodging_width + 2) +
              "+" + "-"*(price_width + 2) +
              "+" + "-"*(reviews_width + 2) + "+")
    return rowDiv

In [180]:
def displayDataFrame(df, locationFilter=0):
    # defining column widths and other constants
    df = df.astype(str)
    name_width = 33
    location_width = 33
    lodging_width = 12
    price_width = 5
    reviews_width = 10
    
    
    print(genNextRow(df.iloc[7]))
    
displayDataFrame(df)

| Large Furnished Room Near B'way   | Hell's Kitchen, Manhattan         | Private Room | 79    | 430     |
+-----------------------------------+-----------------------------------+--------------+-------+---------+

In [21]:
displayDataFrame(df)

629

In [178]:
locationFilter=0
name_width=33 
location_width = 33
lodging_width = 12
price_width = 5
reviews_width = 7

def genNextRow(dfRow):
        name = dfRow['name']
        words = name.split()
        if locationFilter == 0:
            location = dfRow['neighbourhood'] + ', ' + dfRow['neighbourhood_group']
        elif locationFilter == 1:
            location = dfRow['neighbourhood']
        lodging = 'Home/Apt' if dfRow['room_type'] != 'Private room' else 'Private Room'
        price = dfRow['price']
        reviews = dfRow['number_of_reviews']
        
        row = ""
        extraRow = True
        
        while (extraRow):
            extraRow = False
            row += "\n|"
            
            # other name display logic
            name = ''
            for i in range(len(words)):
                if (len(name)==0 and len(words[0])==name_width):
                    name = " " + words[0]
                    break
                elif ((len(words[i])+len(name)) > (name_width-1)):
                    extraRow = True
                    words = words[i:]
                    break
                else:
                    name = name + " " + words[i]
            else:
                words = ['']
            row += name + (" " * (name_width-len(name)+1))
            row += " | "
            
            # location display logic
            if (len(location) > location_width): 
                extraRow = True
                row += location[:location_width]
                location = location[location_width:]
            else:
                row += location + (" " * (location_width-len(location)))
                location = ''
            row += " | "
            
            # lodging display logic
            if (len(lodging) > lodging_width): 
                extraRow = True
                row += lodging[:lodging_width]
                lodging = lodging[lodging_width:]
            else:
                row += lodging + (" " * (lodging_width-len(lodging)))
                lodging = ''
            row += " | "
            
            # price display logic
            if (len(price) > price_width): 
                extraRow = True
                row += price[:price_width]
                price = price[price_width:]
            else:
                row += price + (" " * (price_width-len(price)))
                price = ''
            row += " | "
            
            # reviews display logic
            if (len(reviews) > reviews_width): 
                extraRow = True
                row += reviews[:reviews_width]
                reviews = reviews[reviews_width:]
            else:
                row += reviews + (" " * (reviews_width-len(reviews)))
                reviews = ''
            row += " | "
            
        return (row + genRowDivider())

for i in range(2,8):
    print(genNextRow(df.astype(str).iloc[i]), end='')

| THE VILLAGE OF HARLEM....NEW      | Harlem, Manhattan                 | Private Room | 150   | 0       |
| YORK !                            |                                   |              |       |         |
+-----------------------------------+-----------------------------------+--------------+-------+---------+
| Cozy Entire Floor of Brownstone   | Clinton Hill, Brooklyn            | Home/Apt     | 89    | 270     |
+-----------------------------------+-----------------------------------+--------------+-------+---------+
| Entire Apt: Spacious Studio/Loft  | East Harlem, Manhattan            | Home/Apt     | 80    | 9       |
| by central park                   |                                   |              |       |         |
+-----------------------------------+-----------------------------------+--------------+-------+---------+
| Large Cozy 1 BR Apartment In      | Murray Hill, Manhattan            | Home/Apt     | 200   | 74      |
| Midtown East                      |                                   |              |       |         |
+-----------------------------------+-----------------------------------+--------------+-------+---------+
| BlissArtsSpace!                   | Bedford-Stuyvesant, Brooklyn      | Private Room | 60    | 49      |
+-----------------------------------+-----------------------------------+--------------+-------+---------+
| Large Furnished Room Near B'way   | Hell's Kitchen, Manhattan         | Private Room | 79    | 430     |
+-----------------------------------+-----------------------------------+--------------+-------+---------+

In [189]:
class test:
    hello = "yay"
    
    @classmethod
    def funcpop(self, n):
        print(n)
        return self.hello
    
test.funcpop(2)

2

'yay'

In [111]:
words = ('Clean & quiet apt home by the park'.split())*2
extraRow = True
row = ''
location = 'Kensington, Brooklyn '*5

while(extraRow):
    extraRow = False
    row += "\n|"
    name = ''
    for i in range(len(words)):
        if ((len(words[i])+len(name)) > (name_width-1)):
            extraRow = True
            words = words[i:]
            break
        else:
            name = name + " " + words[i]
    else:
        words = ['']
    row += name + (" " * (name_width-len(name)))
    row += " | "
    
    
    # location display logic
    if (len(location) > location_width): 
        extraRow = True
        row += location[:location_width]
        location = location[location_width:]
    else:
        row += location + (" " * (location_width-len(location)))
        location = ''
    row += " | "
print(row, end="")

| Clean & quiet apt home by the    | Kensington, Brooklyn Kensington,  |
| park Clean & quiet apt home by   | Brooklyn Kensington, Brooklyn Ken |
| the park                         | sington, Brooklyn Kensington, Bro |
|                                  | oklyn                             |

In [191]:
import terminal_display.py

ModuleNotFoundError: No module named 'terminal_display.py'; 'terminal_display' is not a package